<!doctype html>
<html>
    <head>
        <title>User Interface</title>

        <!-- JQUERY -->
        <script type="text/javascript" src="/resources/jquery/jquery.min.js"></script>
        <link rel="stylesheet" href="/resources/game.css">
    </head>
    <body>
        <ul id="messages"></ul>
        <div class="form">
            <input id="message" autocomplete="off" /><button id="send">Send</button>
        </div>

        <script type="text/javascript">
        function submitText(text) {
            $.post("/command", {"command": "test"}, showResponse)
        }

        function showResponse(data) {
            console.log(data);
        }

        $(document).ready(() => {
            $("#send").click(submitText)
            $("#message").keypress(function(e) {
                if(e.which == 13) {
                    alert('You pressed enter!');
                }
            });
        })
        </script>
    </body>
</html>
