<!doctype html>
<html>
  <head>
    <title>User Interface</title>

    <!-- JQUERY -->
    <script type="text/javascript" src="/resources/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="/resources/game.css">
  </head>
  <body>
    <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button id="action">Send</button>
    </form>
  </body>
</html>
