* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body { 
    font-size: 13px; 
    font-family: 'Times New Roman', Times, serif; 
    background: #eee
}

form { 
    background: #eee; 
    padding: 3px; position: fixed; 
    left: 12.5%; 
    bottom: 20%; 
    width: 75%; 
}

form input { 
    border: 1px solid black; 
    padding: 10px; 
    width: 90%; 
    margin-right: .5%; 
}

form button { 
    width: 9%; 
    background: #eee; 
    border: 1px solid black; 
    padding: 10px; 
}

#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}

#messages li { 
    padding: 5px 10px; 
}

#messages li:nth-child(odd) { 
    background: #eee; 
}

#action {
    font-size: 16px; 
    font-family: 'Times New Roman', Times, serif
}

#m {
    font-size: 16px; 
    font-family: 'Times New Roman', Times, serif
}
