* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body { 
    font-size: 16px; 
    font-family: 'Times New Roman', Times, serif; 
    background: #eee
}

form { 
    background: #eee; 
    position: fixed; 
    left: 12.5%; 
    bottom: 12.5%; 
    width: 75%; 
}

form input {
    font-size: 16px; 
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid black; 
    padding: 10px; 
    width: calc(100% - 105px);
    margin-right: 5px; 
}

form button { 
    width: 100px; 
    background: #eee;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid black; 
    padding: 10px; 
}

#messages { 
    list-style-type: none; 
    top: 12.5%;
    bottom: calc(12.5% + 45px);
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    left: 12.5%;
    padding: 0;
    width: 75%;
    overflow-y: auto;
    position: fixed;
}

#messages li { 
    padding: 5px 5px;
    border-bottom-style: solid;
    border-width: 1px; 
}

#messages li:nth-child(odd) { 
    background: white; 
}

#send {
    font-size: 16px; 
    font-family: 'Times New Roman', Times, serif
}

#message {
    font-size: 16px; 
    font-family: 'Times New Roman', Times, serif
}
